.outer {
    margin: 10px;
    border: 1px solid var(--tg-theme-link-color);
    background: var(--tg-theme-bg-color);
}

.inner {
    background: var(--tg-theme-secondary-bg-color);
}

.title {
    font-size: 25px;
    color: var(--tg-theme-text-color);
}

.inner__title {
    color: var(--tg-theme-text-color);
    font-size: 15px;
}

.inner__hint {
    color: var(--tg-theme-hint-color);
}

.inner__link {
    text-decoration: none;
    color: var(--tg-theme-link-color);
}

.inner__btn {
    border: none;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
}